body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  min-height: 100%;
  background:#f0e68c;
}


table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100%;
  margin-bottom: 10px;
  font-family:"serif";
}
table tr {
  background-color: #feefb6;
}
table  tr td{
  padding: .35em 1em;
  border: 1px solid #ff8c00;
}
.price{
  text-align: center;
  color: #000;
  font-size:14px;
}
.text{
  text-align: center;
  color: #000;
  font-size:14px;
}
a {
  text-decoration: none;
  color: #ff3366;
}

.mid table{
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
#aaa{
  background:#00ffff;
  font-size:16px;
  color: #16160e;
  font-family:
}
#bbb{
  background:#ffd900;
  font-size:14px;
  text-align: center;
  color: #16160e;
  border-bottom: 1px solid #ff8c00;
  font-weight:  bold;
}
.mid table th, .mid td{
	border: 1px solid #ff8c00;
}
.mid table tr:nth-child(2n){
  background: #feefb6;
}
.mid table tr:nth-child(2n+1){
  background: #84ad54;
}
.mid tr:hover {
	background: #ff0;
}
@media screen and (max-width: 600px) {
  table{width: 100%;min-height: 100%;}
}
